<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- mine -->
    <link rel="stylesheet" href="css/style.css">
    <title>Vue Checklist</title>
</head>
<body>

    <main id="app" class="container w-50 py-5">
        <!-- task form -->
        <div class="col-12 mb-4">
            <label for="toDo" class="mb-1 fw-bold fs-5">Add Task</label>
            <div class="d-flex mb-2">
                <input id="toDo" v-model="toDoItem" class="form-control mb-0 me-2" type="text" />
                <button v-on:keyup.enter="addItem()" v-on:click="addItem()"  class="btn btn-dark">Add</button>
            </div>
            <p class="text-danger">{{validationString}}</p>
        </div>

        <!-- task list -->
        <div class="col-12">
            <ul class="list-group">
                <li v-for="(toDo, i) in toDoList" class="list-group-item d-flex justify-content-between align-items-start">
                    <div @click="changeStatus(i)" class="me-auto fw-bold">
                        <p v-if="toDo.status == true" class="text-success mb-0">{{i + 1}} - {{ toDo.activity }}</p>
                        <p v-else class="mb-0">{{i + 1}} - {{ toDo.activity }}</p>
                    </div>
                    <span v-on:click="removeItem(i)" class="badge bg-danger rounded-pill btn__delete">Delete</span>
                </li>
            </ul>
        </div>
    </main>
    

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <!-- vueJS  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- mine -->
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>